* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.background {
    background-color: #DFF4E8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.loginSection {
    
    background-color: #A5EBA3;
    width: 373px;
    height: 547px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.styleSection{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.inputSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 5px;
    position: relative;
}

.inputSection input {
    margin-left: 5px;
    height: 26px;
    background-color: #FDF8F8;
    border: none;
    margin-bottom: 5px;
}

.logoSection img{
    width: 150px;
    height: 150px;
}

/* .rectangle {
    width: 186px;
    height: 140px;
    position: absolute;
    top: -150px;
    left: -95px;
}

.fastfood {
    width: 99px;
    height: 64px;
    position: absolute;
    top: -130px;
    left: -50px;
    z-index: 1;
}

.slimfit {
    width: 145px;
    height: 20px;
    position: absolute;
    top: -60px;
    left: -70px;
    z-index: 1;
} */

.signupSection {
    color: #000000;
    font-weight: 400;
    font-size: 15px;
}
.signupSection a{
    color: #2909ED;
}
.button{
    display: flex;
    justify-content: center;
    margin-block: 30px;
}
#error-toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }
  .toast {
    display: none;
    background-color: rgb(245, 53, 6);
    color: #fff;
    padding: 30px;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

.loginButton {
    width: 105px;
     height: 31px;
     border-radius: 8px;
     background-color:  #131212;
     border: none;
     color: #DFF4E8;
     cursor: pointer;
}