* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}
.loginSec{
    margin-block: 20px;
}
.loginSec a{
    text-decoration: none;
    color: #2909ED;
}
.signuplogo{
    width: 187px;
    height: 167px;
}
#error-toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }
  .toast {
    display: none;
    background-color: rgb(245, 53, 6);
    color: #fff;
    padding: 30px;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
.signupSec {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #DEF2E5;
    height: 100vh;
}

.signupInputsection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 5px;
}

.signupInputsection input {
    margin-left: 5px;
    width: 333px;
    height: 31px;
    background-color: #FDF8F8;
    border: none;
    margin-bottom: 5px;
}

.signupButton {
    display: flex;
    justify-content: center;
    margin-block: 30px;
    
}
.signupButton button{
    border: none;
    border-radius: 8px;
    width: 174px;
     height: 39px;
     background-color: #F4516F;
     color: #DEF2E5;
     cursor: pointer;
}