
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }
  
  i {
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  /**
  * ! Navbar STyles are here
  **/
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #131313;
    color: white;
    padding: 20px 30px;
  }
  .firstSection{
    display: flex;
    align-items: center;
  }
  .firstSection a{
    padding-right: 50px;
  }
  .lastSection a{
    padding-inline: 20px;
  }
  .lastSection{
    display: flex;
    align-items: center;
  }
  .cart img{
    height: 48px;
    width: 65px;
  }
  